# Ignore Unity temporary folders inside ANY subfolder
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uild/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/
**/[Mm]emoryCaptures/

# Ignore Visual Studio code-editor temporary files
**/.vs/
**/.idea/
**/*.csproj
**/*.sln